// @use "font" as *;
// @use "colors" as *;
@import "colors";
@import "font";

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: $font-open-sans;
}

.svg {
  width: 100%;
}

.container {
  max-width: 375px;
  margin: auto;
}

.header {
  text-align: center;
  padding: 2rem 10px 2rem 10px;
  // background-image: url(../images/bg-hero-desktop.svg);
  background: $Very-Pale-Cyan url(../images/bg-hero-mobile.svg) no-repeat center center/cover;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    .logo {
      width: 120px;
    }

    .try-btn {
      padding: .5em 2em;
      border-radius: 15px;
      border: none;
      background-color: #fff;
    }
  }

  .h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .discription {
    width: 92%;
    margin: 0rem auto 2rem;
    line-height: 29px;
  }

  .btn {
    padding: 1em 6em;
    margin-bottom: 3rem;
    border-radius: 25px;
    border: none;
    background-color: hotpink;
    color: #fff;
    font-family: bolder;
    font-family: $font-popin-w600;
  }
}

.section {
  text-align: center;
  margin: 8rem 0;
  .text-div {
    .h2 {

    }
  }
}