// @use "font" as *;
// @use "colors" as *;
@import "colors";
@import "font";

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: $font-open-sans;
}

.svg {
  width: 100%;
}

.container {
  max-width: 375px;
  margin: auto;
}

// header section 
.header {
  text-align: center;
  padding: 2rem 10px 2rem 10px;
  margin-bottom: 5rem;
  background: $Very-Pale-Cyan url(../images/bg-hero-mobile.svg) no-repeat center center/cover;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    .logo {
      width: 120px;
    }

    .try-btn {
      padding: .6em 2em;
      border-radius: 15px;
      border: none;
      background-color: #fff;
      cursor: pointer;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09);
      font-family: inherit;
      font-weight: $font-weight-700;
    }
  }

  .h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    font-family: $font-popin-w600;
  }

  .discription {
    width: 92%;
    margin: 0rem auto 2rem;
    line-height: 29px;
  }

  .btn {
    padding: 1em 6em;
    margin-bottom: 3rem;
    border-radius: 25px;
    border: none;
    background-color: $Pink;
    color: #fff;
    transition: 300ms ease;
    font-family: inherit;
    font-weight: $font-weight-700;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }
}

// main and sections 
main {
  position: relative;
  padding: 0 10px 13rem;
}

.section {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09);
  margin: 3rem auto;
  padding: 3rem 1rem;
  .text-div {
    .h2 {
      font-size: 1.3rem;
      margin: 2rem 0 1rem;
      font-family: $font-popin-w600;
    }

    .discription {
      margin: auto;
      line-height: 29px;
      color: $Grayish-Blue;
    }
  }
}

// call to action 
.call-to-action {
  background-color: #fff;
  text-align: center;
  padding: 3rem 1rem 3rem;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: -75px;
  width: 95%;
  max-width: 500px;
  transform: translateX(-50%);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.097);
  .h2 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-family: $font-popin-w600;
  }

  .btn {
    padding: 1em 5em;
    border-radius: 25px;
    border: none;
    background-color: $Pink;
    color: #fff;
    transition: 300ms ease;
    font-family: inherit;
    font-weight: $font-weight-700;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }
}

// footer section 
.footer {
  background-color: $Very-Dark-Cyan;
  padding: 9rem 1rem 4rem;
  color: #fff;

  .logo {
    margin-bottom: 2rem;
  }

  .details {
    margin-bottom: 2rem;
    .row {
      td {
        padding-bottom: 1.5rem;

        p {
          line-height: 24px;
        }
      }
      .img {
        width: 50px;
        display: flex;
        align-self: flex-start;
      }
    }
  }

  .links {
    margin-bottom: 1.5rem;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      width: 0%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 105%;
      left: 0;
      transition: 500ms ease;
      opacity: .3;
    }

    &:hover::after {
      width: 100%;
      opacity: 1;
    }
  }

  .social-icon-copy-right {
    text-align: center;
    margin-top: 3rem;
    .social-icons {
      margin: 0 auto 1.5rem;
      justify-content: center;
      display: flex;
      gap: 1rem;

      .so-icon {
        border: 1px solid white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms ease;

        &:hover {
          color: $Pink;
          border-color: $Pink;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }

  .header {
    background-image: url(../images/bg-hero-desktop.svg);
    .nav {
      .logo {
        width: 160px;
      }

      .try-btn {
        padding: .6em 2em;
      }
    }
    .row {
      display: flex;
      justify-content: space-between;

      .texts-div {
        text-align: left;
        max-width: 450px;

        .h1 {
          width: 80%;
        }

        .discription {
          width: 100%;
          font-size: .9rem;
        }
      }

      .svg {
        width: 50%;
      }
    }
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "sec1 sec2";
    align-items: center;
    margin: 2rem auto;
    padding: 3rem 4rem;

    .svg {
      width: 80%;
      grid-area: sec2;
      justify-self: flex-end;
    }

    &.left {
      .svg {
        grid-area: sec1;
        justify-self: flex-start;
      }
    }

    .text-div {
      text-align: left;

      .discription {
        font-size: .9rem
      }
    }
  }

  .footer {
    font-size: .8rem;
    .logo {
      width: 150px;
    }
    .main-row {
      display: grid;
      grid-template-columns: .8fr 1fr .6fr;

      .links-row {
        display: flex;
        justify-self: center;
        justify-content: space-between;
        gap: 3rem;
      }

      .social-icon-copy-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        align-items: flex-start;

        .social-icons {
          margin: 0;

          .so-icon {
            width: 35px;
            height: 35px;
          }
        }

        .copy-right {
          font-size: .65rem;
        }
      }
    }
  }

}
